.vscode
.DS_Store
*/__pycache__/
*.pyc

data/
runs/
old/
!scripts/README.md
!scripts/filter_generations/*
!scripts/generation_preprocess/*
!scripts/__init__.py
!scripts/search/__init__.py
!scripts/seach/download_patterns_config.py
!scripts/seach/download_search_examples.py
!scripts/seach/patterns_from_generation.py
scripts/

classification_outputs/
generation_outputs/
log*

scripts/search_results/